ul li{
    list-style:none;
}
a{
    color:#9f4c09;
    text-decoration:none;
}
body, input, button, select, textarea {
    font: 12px/1.5 Tahoma,'Microsoft Yahei','Simsun';
    color: #444;
}
*{margin:0;padding:0;}
body{
     background:#F0EBE2;
 }
.lunTan-back{
    margin:0;
    padding:0;
    color:#444;
    font-size:12px;
}
.lunTan-hd{
    min-width:960px;
    background:#f7f4ef;
    line-height:28px;
    height:28px;
    border-bottom:1px solid #efe1c3;
}
.wp{
    width:60%;
    margin:0 auto;
}
.lunTan-hd .left{
    float:left;
    line-height:28px;
}
.lunTan-hd .left a{
    float:left;
    padding:0 4px;
}
.lunTan-hd .left a:hover{
    text-decoration:underline;
}
.hd{overflow:hidden}
.hd .wp{
    min-width:960px;
    padding:10px 0 0;
}
.hdc{min-height:70px;}
.wp h2{
    padding: 0 20px 8px 0;
    float: left;
}
form{display:block}
.hd .fastlg{
    padding-top: 10px;
}
.fastlg{
    line-height:24px;
}
.y{float:right}
table{
    empty-cells: show;
    border-collapse: collapse;
}
table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.fastlg td {
    padding: 2px 0 2px 4px;
}
td{
    display: table-cell;
    vertical-align: inherit;
}
.ftid {
    float: left;
    margin-right: 6px;
}
.ftid select {
    float:left;
    height:23px;
    width: 94px;
}
.xuanze{
    width:51px;
    height:50px;
    border:1px solid #ccc;
    background:#fff;
    padding-left:10px;
    line-height:20px;
    display:none;
    z-index: 4;
    position: absolute;
}
.active{
    color:red;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 2px 1px;
}
#ls_fastloginfield_ctrl {
    line-height: 20px;
    border: none;
    background-color: transparent;
    background-position: 100% -1px;
}
.ftid a {
    display: block;
    overflow: hidden;
    padding: 0 17px 0 4px;
    height: 21px;
    line-height: 21px;
    text-decoration: none !important;
    font-size: 12px;
    font-weight: 400;
    color: #444 !important;
    border: 1px solid;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    background: #FFF url(../images/newarow.gif) no-repeat 100% 0;
}
.px {
    width: 139px;
    height: 17px;
}
.px, .pt {
    padding: 2px 4px;
    line-height: 17px;
}
.px, .pt, .ps, select {
    border: 1px solid;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    background: #FFF url(../images/px.png) repeat-x 0 0;
}
.fastlg_l {
    width:77px;
    padding-right: 4px !important;
    border-right: 1px solid #f7f4ef;
}
.fastlg td {
    padding: 2px 0 2px 4px;
}
.pr, .pc {
    vertical-align: middle;
    margin: 0 5px 1px 0;
    padding: 0;
}
.pn {
    vertical-align: middle;
    overflow: hidden;
    margin-right: 3px;
    padding: 0;
    height: 23px;
    border: 1px solid #999;
    background: #E5E5E5 url(../images/pn.png) repeat-x 0 0;
    cursor: pointer;
    -moz-box-shadow: 0 1px 0 #E5E5E5;
    -webkit-box-shadow: 0 1px 0 #E5E5E5;
    box-shadow: 0 1px 0 #E5E5E5;
}

.pn em, .pn span, .pn strong {
    padding: 0 10px;
    line-height: 21px;
    font-style:normal;
}
.xi2{
    color: #ff6633;
}
.psw_w {
    padding-left: 5px;
}
#nv {
    width:100%;
    background-repeat: repeat-x;
    background-position: 0 -33px;
}
#nv, #mu {
    border-left: 1px solid #efe1c3;
    border-right: 1px solid #efe1c3;
}
#nv {
    overflow: hidden;
    height: auto;
    background: #00AEEF url(../images/nv.png) no-repeat 0 0;
}
#qmenu {
    float: right;
    display: inline-block;
    margin: 5px 8px 0;
    padding-right: 10px;
    width: 103px;
    height: 24px;
    background: url(../images/qmenu.png) no-repeat 0 0;
    line-height: 24px;
    text-align: center;
    color: #ff6633;
    font-weight: 700;
    overflow: hidden;
}
#nv li.a {
    margin-left: -1px;
    background: #00AEEF url(../images/nv_a.png) no-repeat 50% -33px;
}

#nv li {
    float: left;
    padding-right: 1px;
    height: 33px;
    line-height: 33px;
    background: url(../images/nv_a.png) no-repeat 100% 0;
    font-weight: 700;
    font-size: 14px;
}
#nv li a {
    float: left;
    padding: 0 15px;
    height: 33px;
    color:#fff;
}
#qmenu_menu {
    margin-top: -2px;
    padding: 20px 5px 10px;
    width: 610px;
    border-color: #DCE4EB;
}
.daohang{
    display:block;
}
.p_pop, .p_pof, .sllt {
    padding: 4px;
    border: 1px solid;
    min-width: 60px;
    border-color: #DDD;
    background: #FEFEFE;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.hm{text-align:center}
.pbw {
    padding-bottom: 20px !important;
}
.ptm {
    padding-top: 10px !important;
}
.blk a, .inlinelist a{
    display: inline;
    padding: 0;
    border: none;
}

.xi2, .xi2 a, .xi3 a {
    color: #ff6633;
}

.hidefocus {
    outline: none;
}
#fjump_menu {
    overflow-x: hidden;
    max-height: 600px;
}
#fjump_menu {
    padding: 7px 0 10px 10px;
}
.btda {
    border-top: 1px dashed #efe1c3;
}
.mbm {
    margin-bottom: 10px !important;
}
.vm {
    vertical-align: middle;
}
.hidefocus {
    outline: none;
}
.jump_bdl {
    overflow: hidden;
}
.jump_bdl li {
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 10px;
    padding: 5px;
    width: 178px;
    height: 300px;
    border: 1px solid #CCC;
    background: #FFF;
}
.p_pop li {
    display: inline;
}
.jump_bdl p {
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}
.bbda {
    border-bottom: 1px dashed #efe1c3;
}
.xg1, .xg1 a {
    color: #8cb8bd !important;
}
.xw1 {
    font-weight: 700;
}
.jump_bdl a {
    display: block;
    position: static !important;
    padding: 0 4px;
    text-decoration: none;
    color: #444;
}
.jump_bdl a:hover{
    color: #9f4c09;
    text-decoration: underline;
}
.jump_bdl .sub {
    text-indent: 1em;
}
#scbar {
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #E9EFF5;
    background: #E8EFF5;
}
table {
    empty-cells: show;
    border-collapse: collapse;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.scbar_icon_td {
    width: 15px;
    background: url(../images/search.png) no-repeat 0 -50px;
}
.scbar_txt_td, .scbar_type_td {
    background: url(../images/search.png) repeat-x 0 -93px;
}
#scbar_txt {
    width: 400px;
    border: 1px solid #FFF;
    outline: none;
}
input, button, select, textarea {
    font: 12px/1.5 Tahoma,'Microsoft Yahei','Simsun';
    color: #444;
}
.xg1, .xg1 a {
    color: #8cb8bd !important;
}
.scbar_type_td {
    width: 61px;
    background: url(../images/search.png) no-repeat 0 -193px;
}
#scbar_type {
    display: block;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
}
.scbar_btn_td {
    width: 38px;cursor:pointer;
    background: url(../images/search.png) no-repeat 8px -142px;
}
#scbar_btn {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent none;
    box-shadow: none;
}
#scbar_hot {
    padding-left: 8px;
    height: 45px;
    overflow: hidden;
}
#scbar_hot strong, #scbar_hot a {
    float: left;
    margin-right: 8px;
    white-space: nowrap;
}
.xw1 {
    font-weight: 700;
}
.xi2, .xi2 a, .xi3 a {
    color: #ff6633;
}

#wp{
    min-width:960px;
}
#pt {
    margin: 2px 0;
    height: 29px;
    border: none;
    background: transparent;
    line-height: 29px;
}
#pt .z {
    padding-right: 10px;
}

.z {
    float: left;
}
#pt .z a, #pt .z em, #pt .z span {
    float: left;
    height: 29px;
}
.nvhm {
    width: 16px;
    background: url(../images/search.png) no-repeat 0 0;
    line-height: 200px;
    overflow: hidden;
}
a {
    color: #9f4c09;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
em, cite, i {
     font-style: normal;
 }
#pt .z em {
    width: 20px;
    background: url(../images/pt_item.png) no-repeat 3px 10px;
    line-height: 200px;
    overflow: hidden;
}
#wp .wp {
    width: auto;
}
#ct {
    min-height: 300px;
}
#chart {
    overflow: hidden;
    margin-bottom: 5px;
}
.bw0 {
    background: transparent;
}
.chart {
    padding-left: 22px;
    background: url(../images/chart.png) no-repeat 0 50%;
    color: #8cb8bd;
}
.chart em {
    color: #444;
}
.pipe {
    margin: 0 5px;
    color: #CCC;
}
.y {
    float: right;
}
.mn {
    overflow: hidden;
}
.fl {
    border: 1px solid #efe1c3;
    border-top: none;
    background: #FFF;
}
.bm, .bn {
    margin-bottom: 10px;
}
.fl .bm {
    margin-bottom: 0;
    border: none;
}
#category_grid {
    padding: 0;
    border-top: 1px solid #efe1c3;
}
#category_grid table {
    width: 100%;
    table-layout: fixed;
    position:relative;
}
table {
    empty-cells: show;
    border-collapse: collapse;
}
#category_grid td {
    width: 25%;
}
/*.category_l1, .category_l2, .category_l3 {*/
    /*background: url(../images/category_lbg.png) no-repeat right center;*/
/*}*/
.category_l1, .category_l2, .category_l3, .category_l4 {
    line-height: 25px;
    background: #fff;
    background: url(../images/category_lbg.png) no-repeat right center;
    overflow: hidden;
}
#category_grid h4 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    font-size: 12px;
    cursor: pointer;
    background: url(../images/tb.png) repeat-x;
    position: relative;
}
#category_grid h4 span {
    background: #CDCDCD;
    width: 1px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.slidebox_grid {
    position: relative;
    margin: 10px;
    border: 1px #ccc solid;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
#category_grid td {
    width: 25%;
}
.slideswitch{
    opacity: 0.7;
    float: left;
    cursor: pointer;
    width: 17px; height: 17px;
    line-height: 17px;
    overflow: hidden; font-weight: bold;
    text-align: center; font-size: 9px;
    color: rgb(68, 68, 68);
    border-right: 1px solid rgb(239, 225, 195);
    border-top: 1px solid rgb(239, 225, 195);
    background-color: rgb(247, 244, 239);
}
.imgs{
    width:218px;
    height:200px;
    display:block;
}
.category_newlist {
    padding: 10px;
}
.category_newlist li {
    background: url(../images/dot.gif) no-repeat left center;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    padding-left: 10px;
}
.category_newlist li a{
    display: block;
}
.category_newlist li a:hover{
    text-decoration:underline;
}
.this-tip{
    width:238px;
    height:auto;
    background:#FFFFFF;
    line-height: 16px;
    border:1px solid black;
    display:none;
    position:absolute;
    z-index: 33;
}
.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.fl .bm_h {
    border-width: 1px 0;
    border-color: #efe1c3;
    background: #998B75;
}
.bm_h {
    padding: 0 10px;
    height: 31px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #C2D5E3;
    background: #f7f4ef;
    line-height: 31px;
    white-space: nowrap;
    overflow: hidden;
}
/*.bm_c table{*/
    /*padding:0 10px;*/
/*}*/
.bm_h .o {
    float: right;
    width: 30px;
}
.yes{
    background:url(../images/collapsed_yes.gif) no-repeat;
}
.y {
    float: right;
}
.bm_h .o img {
    float: right;
    margin-top: 8px;
    cursor: pointer;
}
.bmw .bm_h a {
    color: #d4cebf;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}
.fl_tb {
    width: 100%;
}
.fl_tb td {
    padding: 10px 0;
    border-bottom: 1px dashed #efe1c3;
}
.fl_icn_g {
    float: left;
    width: 31px;
}
.fl_g dl {
    margin-left: 31px;
    padding-left: 10px;
}
.fl_g dt {
    font-weight: 700;
}
em, cite, i {
    font-style: normal;
}
dd {
    display: block;
    /*-webkit-margin-start: 10px;*/
}
.fl_row{
    border-top:1px dashed #998B75;
    z-index: 2;
}
.bm_h {
    padding: 0 10px;
    height: 31px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #C2D5E3;
    background: #f7f4ef;
    line-height: 31px;
    white-space: nowrap;
    overflow: hidden;
}
.xs1 {
    font-size: 12px !important;
}
.pbm {
    padding-bottom: 10px !important;
}
.ptm {
    padding-top: 10px !important;
}
.bbda {
    border-bottom: 1px dashed #efe1c3;
}
.pbm {
    padding-bottom: 10px !important;
}
.ptm {
    padding-top: 10px !important;
}
.oll li {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 19.9%;
    height: 24px;
    line-height: 24px;
}
.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.bm_c {
    padding: 10px;
    background:#fff;
}
.ptm {
    padding-top: 10px !important;
}
.mbn {
    margin-bottom: 10px !important;
    border-bottom: 1px dashed #efe1c3;
}
.lk .m li {
    clear: left;
    padding: 0 0 10px 98px;
}
.mbm {
    margin-bottom: 10px !important;

}

.lk .m img {
    display: inline;
    margin-top: 4px;
    margin-top: 1px\9;
    margin-left: -98px;
}
.lk img {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 88px;
    height: 31px;
}
.lk_logo .lk_content {
    float: left;
}
.lk_content{
    padding-bottom:10px;
}


#ft {
    padding: 10px 0 50px;
    border-top: 1px solid #efe1c3;
    line-height: 1.8;
    color: #666;
    width: 60%;
    margin: 0 auto;
}
.wp {
    width: 60%;
}
.wp {
    margin: 0 auto;
    width: 960px;
}

#flk {
    text-align: right;
}
.y {
    float: right;
}
#flk img {
    vertical-align: middle;
}
a img {
    border: none;
}
.xs0 {
    font-family: Arial;
    font-size: 0.83em;
    -webkit-text-size-adjust: none;
}
#scrolltop {
    visibility: hidden;
    position: fixed;
    bottom: 100px;
    display: none;
    margin: -30px 0 0 2px;
    width: 40px;
    background: #f4f4f4;
    border: 1px #cdcdcd solid;
    border-radius: 3px;
    border-top: 0;
    cursor: pointer;

}
#scrolltop a{
    display: block;
    width: 30px;
    height: 24px;
    padding: 3px 5px;
    line-height: 12px;
    text-align: center;
    color: #787878;
    text-decoration: none;
    background: url(../images/scrolltop.png) no-repeat 0 0;
    border-top: 1px #cdcdcd solid;
}