

em,i{
	font-style: normal;
}
ul,li{
	list-style:none outside none;
}
a:hover{
	color:#DA3E49;
}
.clearfix{}
.content_layout{
	font-family: "宋体";
	text-align: left;
	font-size: 12px;
	
}
.content{
	padding-bottom: 10px;
}
.content .layout{
	width: 1200px;
	overflow: hidden;
	margin:0 auto;
}
.content .grid-m{
	margin-bottom: 10px;
	text-align:left;
	margin-top: 40px;
	border-top:1px solid #DFDFDF;
	background: #fff;
} 
.content .m_crumbs{
	height:44px;
	line-height: 44px;
	color:#6C6C6C;
}
.f1{
	float: left;
}
.content .m_crumbs .crumbs_nav{
	height: 100%;
	margin-top: 0;
}
.content .m_crumbs .crumbs_nav ul{
	list-style: none;
	height:100%;
	line-height: 44px;
}
.content .m_crumbs .crumbs_nav li{
	display: inline;
	line-height: 40px;
	list-style: none outside none;	
}
.content .m_crumbs .crumbs_nav li a{
	text-decoration: none;
	color:#6C6C6C;
}
.content .m_crumbs .crumbs_nav li span{
	padding: 0 10px;
}
.content .m_crumbs .crumbs_nav li .cur{
	color:#DA#E49;
}
/*搜索框*/
.content .m_crumbs .srch{
	width: 162px;
	height:22px;
	line-height: 22px;
	border: 1px solid #ddd;
	margin-top: 10px;
	margin-left:10px;
}
.pr{
	position: relative;
}
.content .m_crumbs .srch .J_Cate_search_word{
	width: 140px;
	height:14px;
	line-height: 14px;
	padding: 4px 0 4px 10px;
	border:none;
	background: #fff;
	outline: none;
}
.content .m_crumbs .srch span{
	position: absolute;
	right: 0;
	top:0;
	width: 25px;
	height:100%;
	cursor: pointer;
	background: url(../images/ico_s.png) no-repeat 50% 50%;
}

.m_filter2{
	border-bottom: none;
}
.m_filter{
	position: relative;
	border:1px solid #ddd;
}
.m_filter .tit{
	height:40px;
	line-height: 40px;
	background: #F7F7F7;
	padding-left: 15px;
	color:#6C6C6C;
}	
.m_filter .tit .red{
	color: #DA3E49;
}
.m_filter .tit span{
	padding: 0 15px;
}
.ft14{
	font-size: 14px;
}
.m_filter .type{
	position: relative;
	border-top:1px dotted #ddd;
	padding-left: 110px;
	padding-right: 70px;
}
.m_filter .type:first-child{
	border-top: none;
}
.m_filter .type .lab{
	position: absolute;
	left: 0;
	top:0;
	width: 90px;
	line-height: 24px;
	padding-top: 11px;
	padding-left: 15px;
	text-align: right;
	font-weight: bold;
	
}
.m_filter .type .cont{
	background: #fff;
	padding: 8px 0;
	max-height:60px;
	overflow: hidden;
}
.m_filter .type .cont ul li{
	float: left;
	padding: 3px 0;
	margin-right: 36px;
	white-space: nowrap;
}
.m_filter .type .cont ul li a{
	display: inline-block;
	line-height: 24px;
	padding: 0 6px;
	color:#004497;
	text-decoration: none;
}
/*价格*/
.m_filter .type .cont .txt{
	width: 42px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
}
.m_filter .type .cont .sep{
	display: inline-block;
	padding: 0 8px;
	color:#999;
	vertical-align: middle;
}
.m_filter .type .cont .btn{
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	padding: 0 9px;
	background: #F4F4F4;
	margin-left: 8px;
	color:#000;
	vertical-align: middle;
}
.m_filter .type .cont ul li a{
	display: inline-block;
}

/*热门推荐与综合销量*/
.col-main{
	float: left;
	width: 100%;
	min-height: 1px;
}
.grid-s5m0 .col-sub{
	width: 210px;
	float: left;
	overflow: hidden;
	margin-top: 15px;
}
.main-wrap{
	width: 990px;
	float: right;
}
.grid-s5m0{
	width: 990px;
	margin-left: 210px;
}
.grid-s5m0{
	position:relative ;
}
.col-sub{
	/*position: absolute;
	top:0;
	left: 0;*/
	width: 210px;
	overflow: hidden;
}
.layout .tb-module{
	margin-bottom: 10px;
	text-align: left;
}
.g_goods{
	width: 975px;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.tshop-um-sys_pro_search_list_new .m_sort{
	height: 36px;
	line-height: 36px;
	border: 1px solid #ddd;
	padding-right: 10px;
	background: #F7F7F7;
	color: #6C6C6C;
}
.tshop-um-sys_pro_search_list_new .m_sort .list li:first-child{
	margin-left: -1px;
}
.tshop-um-sys_pro_search_list_new .m_sort .list .cur{
	background: #fff;
	color:#DA3E49;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.tshop-um-sys_pro_search_list_new .m_sort .list li{
	float: left;
	position: relative;
	height: 100%;
	padding: 0 22px;
	cursor: pointer;
}
.tshop-um-sys_pro_search_list_new .m_sort .page a{
	padding: 0 5px;
	font-weight: bold;
	color: #999;
	cursor: pointer;
}
.tshop-um-sys_pro_search_list_new .m_sort .page span{
	font-family: arial;
	padding: 0 5px;
}
.tshop-um-sys_pro_search_list_new .waterfall{
	margin: 0 auto;
	min-height: 50px;
	overflow: hidden;
	position: relative;
	width: 1212px;
}
.m_list2{
	overflow: hidden;
	margin-bottom: 45px;
}
.m_list2 li{
	float: left;
	width: 223px;
	margin: 25px 10px 0;
	overflow: hidden;
	
}
.m_list2 .img{
	display: block;
	width: 221px;
	height:222px;
	border:1px solid #F5F5F5;
	margin-bottom: 9px;
	text-align: center;
	overflow: hidden;
}
a{
	color: #302C34;
	text-decoration: none;
}
.m_list2 .img img{
	max-height: 100%;
	max-width: 100%;
}
img{
	border: 0 none;
	vertical-align: middle;
}
.m_list2 .img i{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.m_list2 .name{
	text-align: left;
	display: inline-block;
	line-height: 18px;
	height: 36px;
	margin-bottom: 10px;
	overflow: hidden;
	color:#6C6C6C;
}
.m_list2 .price{
	text-align: left;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#DA3E49;
}
b{
	font-weight: bold;
}
.m_list2 .btm{
	text-align: right;
	padding-top: 12px;
	margin-top: 10px;
	border-top: 1px dashed #F5F5F5;
	color:#6A6A6A;
	
}
.m_list2 .btm a{
	color:#6a6a6a;
	float: left;
}
.m_list2 .red{
	font-family: "微软雅黑";
	font-size: 14px;
	color:#DA3E49;
}
.layout .tb-module{
	margin-bottom: 10px;
	text-align: center;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom{
	width: 208px;
	border: 1px solid #ddd;
}
.content .m_crumbs .crumbs_nav ul{
	margin-top: 0;
}
.tshop-um-sys_pro_search_list_new .m_sort{
	height: 36px;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom h3{
	height: 38px;
	line-height: 38px;
	background: #F7F7F7;
	coilor:#6c6c6c;
	font-size: 14px;
	margin-top: 0;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom ul{
	padding: 20px 15px 0;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom li{
	padding-bottom:20px ;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom .img{
	display: block;
	width: 176px;
	height: 176px;
	border: 1px solid #F5F5F5;
	margin-bottom: 9px;
	text-align: center;
	overflow: hidden;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom .img img{
	max-height: 100%;
	max-width: 100%;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom .img i{
	display: inline-block;
	vertical-align: middle;
	height:100%;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom .name{
	display: inline-block;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
	color: #6c6c6c;
}
.tshop-pbsm-sys_list_left_recommend .m_sideRecom .price{
	text-align: center;
	padding-top: 10px;
	font-family: "微软雅黑";
	font-size: 14px;
	color:#DA3E49;
}
.tshop-um-sys_pro_search_list_new .m_sort {
    height: 36px;
    line-height: 36px;
    border: 1px solid #ddd;
    padding-right: 10px;
    background: #F7F7F7;
    color: #6C6C6C;
    position: relative;
   }
    .tshop-um-sys_pro_search_list_new .m_sort  ul{
    	position: absolute;
    	left:0;
    	top:0;
    	margin-left: 0;
    	margin-top: 0;
    	position: relative;
    	overflow: hidden;
    	width: 500px;
    }
   .tshop-um-sys_pro_search_list_new .m_sort  ul li{
   	position: absolute;
   	top:0;
   	left:0;
   }
   .page{
   	position: absolute;
   	right:0;
   	top:0;
   }
.content a:hover{
	color:#DA3E49;
}
.content .img:hover{
	border:1px solid #DA3E49;
}
.cont a:hover{
	color: #DA3E49;
}
.name:hover{
	color:#DA3E49;
}
.mmm li{
	margin-left: 6px;
}
.listU .price{
	text-align: center;
}
.col-sub .name:hover{
	color:#DA3E49;
}
