*{
    margin:0;
    padding:0;
    font-weight: normal;
}
img {
    border:none;
    /*display: block;*/
}
ul, ol {
    list-style:none;
}
body {
    font-family:"微软雅黑","Arial"
}
a {
    color: #000;
    text-decoration:none;
}
input{
    border: 0;
    outline: none;
}
i{
    font-style: normal;
}


/*内容*/
.container_back{
    width:100%;
    height:1565px;
    background-color:#fff;
}
.container{
    width:1200px;
    height:1565px;
    margin:0 auto;
}
.container .content{
    width:1200px;
    height:1465px;
}
.container .item{
    width:230px;
    height:314px;
    margin-right:10px;
    margin-bottom:51px;
    float:left;
    position:relative;
    border:1px solid #e8e8e8;
}
.container .te01{
    margin-right:0;
}
.container .te02{
    margin-right:0;
}
.container .te03{
    margin-right:0;
}
.container .te04{
    margin-right:0;
}
/*商品里的样式*/
.item dl{
    width:224px;
    height:312px;
    border:3px solid #fff;
}
.item dt{
    height:230px;
    text-align:center;
}
.item dt em{
    height:100%;
    display:inline-block;
    vertical-align:middle;
}
.item dt img{
    vertical-align:middle;
}
.item dd{
    height:40px;
   font-size:12px;
    padding:0 8px;
}
.item p{
    height:22px;
    font-size:22px;
    color:red;
    padding:10px 10px;
}
.item .brand{
    width:232px;
    height:50px;
    background-color:#e8e8e8;
    position:absolute;
    left:-1px;
    bottom:-45px;
    line-height:50px;
    display:none;
}
.item .brand i{
    width:140px;
    height:45px;
   line-height:45px;
    padding:0 10px;
    color:blue;
    font-size:12px;
    float:left;
}
.item .brand span{
    width:35px;
    height:22px;
    font-size:12px;
    color:#fff;
    padding-left:25px;
    line-height:22px;
    float:right;
    margin-top:10px;
    margin-right:10px;
    display:inline-block;
    background:#e9781b url("../images/love.gif") no-repeat 10px 6px;
    border-radius:10px;
    cursor:pointer;
}
.item:hover dl{
    border:3px solid #e8e8e8;
}
.item:hover .brand{
   display:block;
}



/*按钮切换部分*/
.bot{
    width:1200px;
    height:100px;
    text-align:center;
}
.bot .jump{
    width:540px;
    height:85px;
    margin-left:343px;
    padding-top:15px;
}
.bot .jump a{
    padding:0 18px;
    height:35px;
    font-size:12px;
    font-family: Arial;
    float:left;
    background-color:#f4f4f4;
    border:1px solid #ccc;
    border-radius:6px;
    text-align: center;
    line-height:35px;
    margin-right:8px;
}
.bot .jump input{
    width:40px;
    height:22px;
    border:1px solid #ccc;
    margin-right:4px;
    margin-top:10px;
}
