/*footer*/

.layout .tshop-um-sys_foot2{ margin-bottom: 0; overflow: hidden; }
.tshop-um-sys_foot2{ border-top:1px solid #F1F1F1;}
.tshop-um-sys_foot2 .sys_foot2{background: #fff; padding-bottom: 15px;}
.tshop-um-sys_foot2 .sys_foot2 .server{ height:210px; background:url(../images/line.jpg) left bottom repeat-x; overflow:hidden;}
.tshop-um-sys_foot2 .sys_foot2 dl{ width:182px; margin:0 29px; float:left; line-height:22px; padding-top:28px;}
.tshop-um-sys_foot2 .sys_foot2 dl dt{ padding-left:2px; color:#202020; line-height:28px; border-bottom:1px solid #D9D9D9; margin:10px 0 5px;}
.tshop-um-sys_foot2 .sys_foot2 dl dd{ padding-left:12px; background:url(../images/dot.jpg) no-repeat 2px 50%;}
.tshop-um-sys_foot2 .sys_foot2 dl dd a{ color:#6b6b6b;}
.tshop-um-sys_foot2 .sys_foot2 dl dd a:hover,.tshop-um-sys_foot2  .copyright a:hover{ color:#E9781B;}

.tshop-um-sys_foot2 .list_qr{ padding:40px 0 48px 40px; overflow:hidden; border-bottom:1px solid #F1F1F1;}
.tshop-um-sys_foot2 .list_qr li{ float:left; width:380px;}
.tshop-um-sys_foot2 .list_qr h3{ font-size:18px; font-family:"微软雅黑"; line-height:40px; font-weight:normal;}
.tshop-um-sys_foot2 .list_qr img{ margin-right:17px;}
.tshop-um-sys_foot2 .list_qr p{ color:#6B6B6B; padding-bottom:15px;} 

.tshop-um-sys_foot2 .list_qr a{ float:left; height:22px; line-height:22px; border:1px solid #ddd; padding-right:8px; margin-right:12px;}
.tshop-um-sys_foot2 .list_qr a i{ float:left; width:25px; height:100%; /*background:url(../images/ico.jpg) no-repeat 0 -999px;*/}
.tshop-um-sys_foot2 .list_qr .ico1{ /*background-position:0 0;*/background:url(../images/iphone.jpg) no-repeat 7px 1px;}
.tshop-um-sys_foot2 .list_qr .ico2{ /*background-position:-25px 0;*/background:url(../images/ipad.jpg) no-repeat 3px 3px}
.tshop-um-sys_foot2 .list_qr .ico3{ /*background-position:-50px 0;*/background:url(../images/android.jpg) no-repeat 4px 1px}

.tshop-um-sys_foot2 .bz{ padding:36px 0 40px;}


.tshop-um-sys_foot2 .ft_link{ text-align: center; height:25px; color:#636262;}
.tshop-um-sys_foot2 .ft_link a{ color:#636262; margin:0 16px;}
.tshop-um-sys_foot2 .copyright, .copyright a{ color:#636262; font-family:"宋体";}
.tshop-um-sys_foot2 .copyright{ text-align: center; line-height:20px; padding:10px 0 20px; font-family:Arial;}
.tshop-um-sys_foot2 .pic_list{text-align: center;}
.tshop-um-sys_foot2 .ebs img{width:45px; height:55px;}

